# dirs
alias ll='ls -la'
# rails
alias sc='script/console'
alias ss='passenger start'
# you always forget the sudo :-)
alias apachectl='sudo apachectl'
alias r='rails'
alias be='bundle exec'
alias br='bundle exec rake'
